<div class='post-container' style='border: 1px solid black; margin-bottom: 10px; padding: 15px;'>
            <h2>Заголовок поста: <a href='{% url "get_post_detail" post_slug=post.slug %}'>{{ post.title }}</a></h2>   {# конструкция переменных для отображения постов #}
            <p>Текст поста: {{ post.content }}</p>
            <small>Дата создания: {{ post.created_at|date:"d.m.y" }}</small>
            <small>Категория: 
    <a href="{% url 'posts_by_category' post.category.slug %}">
        {{ post.category.name }}
    </a>
    {% if post.tags.all %}
        <div class="post-tags">
            <strong>Теги:</strong>
            {% for tag in post.tags.all %}
                <a href="{% url 'posts_by_tag' tag.slug %}" class="tag">#{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</small>
</div>