{% extends "base.html" %}

{% block title %}Профиль{% endblock title %}

{% block content %}

    {% if user == request.user %}
        <h1>Мой профиль</h1>
    {% else %}
        <h1>Профиль {{ user.username }}</h1>
    {% endif %}

    {% if posts %}      {# конструкция тегов для проверки наличия постов #}
        <h2>Собственно сам список</h2>
        {% for post in posts %}    {# вывод постов через цикл #}
        {% if user == request.user or post.status != "draft" %}
        {% include 'python/includes/post_container_include.html' %}
        {% endif %}
        {% endfor %}
    {% else %}
        <p>Постов ещё нет</p>
    {% endif %}
    
{% endblock content %}