{% extends "base.html" %}

{% block title %}Удаление поста{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1>Подтверждение удаления</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Вы уверены, что хотите удалить пост?</h5>
            <p class="card-text">"{{ post.title }}"</p>
            
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Да, удалить</button>
                <a href="{% url 'get_post_detail' post.slug %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}